body{
    margin:0;
    padding:0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}
.center{
    width:85%;
    margin-left:auto;
    margin-right:auto;
}
.container{
    display:flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    
}
/* header */
#header{
    background-color:#383E4C;
    height:80px;
    width:100%;
    display: flex;
    align-content: center;
    position: fixed;
    z-index: 2;
}
.hdrcontent{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
   
}


.menu i{ 
    top:15px;
    right:15px;
    padding:5px;
    background:#383E4C;
    color:white;
    border:5px;
    z-index: 2;
    font-size:2em;
    border-radius:10px;
    position: fixed;
    display: none;

    
}

.scrollUp i{
    bottom: 15px;
    right:15px;
    padding:5px;
    background:#383E4C;
    color:white;
    border:5px;
    z-index: 2;
    font-size:2em;
    border-radius:10px;
    position: fixed;
    display: none;
}

.btn{
    margin-right:10px;
    width:150px;
    height:70%;
    margin-top:auto;
    margin-bottom: auto;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#383E4C;
    border: 1px solid #646d7c;
    font-size: 20px;
    
}
.btn:hover{
    background: #49505F;
  }


/* banner1 */
#banner{
    height: 630px;
    width:100%;
    background-image:url('../img/bg-1.jpg');
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
   

    
    background-size: cover;
}

.banner1-content{
    height:75%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.banner1-content h1{
    color:white;
    font-size: 4.5em;
    font-weight: 300;
    text-shadow: 2px 2px #000;
 }
.banner1-content h2{
     color:white;
     font-size: 1.5em;
     font-weight: 200;
     margin-top:-48px;
 }
#features{
    margin-top:50px;
    padding-top:20px;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
   
    
    
}

.smallcard{
    width: 32%;
    background-color:#f2f2f2;
    

  

}

.smallcard img{
    height: 40%;
    width:100%;
    display: flex;
    justify-content: center;
    
}

.smallcard img:hover{
    filter:brightness(50%);
}
.smallcard .text-content{
    padding:20px;
    padding-top:0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #333333;
    font-size:1em;
    line-height: 1.2em;
    font-weight:400;
   
} 

.smallcard .text-content p{
    margin-top:-2px;
}
.smallcard:nth-of-type(1) .text-content h3{
    font-size:1.3em;
    color:green;
}
.smallcard .text-content:nth-last-of-type(1) .button{
    background-color: green;
}

.smallcard .text-content .button{
    height:40px;
    width:40%;
    color:white;
    font-size:1em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top:15px;
    border-radius: 5px;
}

.smallcard:nth-of-type(2) .text-content h3{
    font-size:1.3em;
    color:#1686C1;
}
.smallcard:nth-of-type(2) .text-content .button{
    background-color:#1686C1;
}
.smallcard:nth-of-type(3) .text-content h3{
    font-size:1.3em;
    color:grey;
}
.smallcard:nth-of-type(3) .text-content .button{
    background-color:#852406;
}


.largecard{
    margin-top:75px;
    width:48%;
    background-color:#f2f2f2;
    
}
.largecard img{
    width: 100%;
    height: 40%;
}
.largecard img:hover{
    filter:brightness(50%);
}
.largecard .text-content{
     margin:35px;
     padding-bottom:30px;
     font-size:1em;
     line-height: 1.5em;
     color:grey;
    
}
.largecard .text-content h2{
    color:grey;
    text-align:center;
}
.banner2{
    margin-top:50px;
    height: 350px;
    width:100%;
    background-image: url('../img/bg-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgba(145, 131, 131, 0.2);
    
    
}


.banner2 .services{

    text-align:center;
    font-size:1.2em;
    color:white;
    line-height: 1.5em;
    align-self:center;
    margin-top:100px;
    
   

}

.banner2 .services h1{
    font-size:1.8em;
    font-weight: 500;
    margin-top:auto;

    
}
.banner2 .services p{
    margin-top:-5px;
}

.featuresrow1{
 margin-top:50px;
 display: flex;
 flex-flow: row wrap;
 justify-content:space-between;;
    
}
.featuresrow1 .child{
    width:23%;
    background-color:#f2f2f2;
}

.featuresrow1 .child img{
    height:50%;
    width:100%;
}
.featuresrow1 .child img:hover{
    filter:brightness(50%);
}
.featuresrow1 .child .text-content{
    padding:15px;
    padding-bottom:30px;
    font-size:0.95em;
    color:grey;
    line-height: 1.5em;
}
.featuresrow1 .child h3{
    text-align:center;
    font-size:1.5em;
}
    
 .childunique{
    margin-top:20px;
  
    width:100%;
    background-color:#f2f2f2;

 }

 .childunique img{
  height: 50%;
  width: 100%;
 }
 .childunique img:hover{
    filter:brightness(50%);
}
.childunique .text-content{
    margin:35px;
    font-size:0.95em;
    color:grey;
    line-height: 1.5em; 
}
.childunique .button{
    padding:10px 8px 10px 8px;
    border:1px solid grey;
    width:100px;
    text-align:center;
    margin-bottom:100px;
    border-radius:5px;
    background-color:white;
    
}

.form{
    width:100%;
    padding-top:100px;
    padding-bottom: 100px;
    background-image: url('../img/bg-3.jpg');
    background-size:cover;
    background-position: center;
    margin-top:75px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form .form-content{
    width:60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.form-content h1{
   text-align:center; 
   width:100%;
   color:white;
   font-size:3em;
   font-weight:500;
   text-shadow:2px 2px black;
 
}
.form .form-content div:nth-of-type(1){
    width:100%;
    padding:35px;
    background-color:rgba(256,256,256,0.5);
    border-radius: 5px;
    text-align: center;
    font-size:1em;
    line-height: 1.5em;
    
}

.form-content .leftblock{
    width:49%;
    display: flex;
    flex-flow: column;

    
}

.form-content .rightblock{
    width:49%;
    display: flex;
    flex-flow: column;
    
}

.leftblock input{
    margin-top:20px;
    height: 35px;
    border-radius: 5px;
    border:0px;
    background-color:rgba(256,256,256,0.5);
    padding-left:15px;
    font-size:1em;
}
.rightblock textarea{
    margin-top:20px;
    height:135px;
    border-radius: 5px;
    border:0px;
    background-color:rgba(256,256,256,0.5);
    padding-left:15px;
    padding-top:15px;
    
}
textarea::-webkit-input-placeholder{
    font-size:1.2em;
}
.rightblock button{
    height:50px;
    width:100px;
    background-color:rgba(0,0,0,0.5);
    color:white;
    font-size:1.5em;
    padding:10px;
    margin-top:35px;
    border-radius: 10px;
    border:0px;
}

@media only screen and (max-width:767px){
    .center{
         width:90%;
    }
    #header{
        display: none;
    }
    #banner{
        height: 75vh;
        width:100%;
    }
    
    .menu i{
        display: flex;
    }

    .scrollUp i{
        display: flex;

    }
        
    #features{
    margin-top:0px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    }
    .largecard{
        width:100%; 
        margin-top:75px;
    }
    .smallcard{
        min-width:360px;
        margin-top:45px;
        margin-left:-5px;
    }
    .smallcard .text-content{
         text-align: center;
       
    } 
    .featuresrow1{
        justify-content: space-between;
    }
    .featuresrow1 .child{
        width:47%;
        margin-top:45px;}
    .childunique img{
            height: 30%;
            width: 100%;
               }

     .childunique .text-content{
                margin:35px;
                padding-bottom:50px; 
            }
    .form .form-content{
        width:95%;
    } 
    
    .form .form-content .leftblock{
        width:100%
    }
    .form .form-content .rightblock{
        width:100%;
    }
        
}

@media only screen and (max-width:992px){
    #header{
        height: 70px;
    }
    .btn{
        height: 60%;
    }
}

@media only screen and (max-width:480px){
    .featuresrow1 .child{
        width:75%;
    }
    #banner{
        height: 50vh;
        width:100%;
        background-attachment:fixed;
    }
    .banner1-content h1{
        color:white;
        font-size: 3em;
     }
    .banner1-content h2{
         color:white;
         font-size: 1.5em;
         font-weight: 200;
         margin-top:-30px;
         text-align: center;

    }
    .banner2{
        background-attachment: fixed;
    }
    .banner2 .services{
        margin-top:50px;
    }
    .featuresrow1{
        justify-content: center;
    }
    .featuresrow1 .child{
        width:70%;
    }
    .childunique .text-content{
       
        padding-bottom:0;
       
    }
    .childunique img{
        height: 300px;
        width: 100%;
           }

} 


@media only screen and (max-width:360px){
   
    #banner{
        width: 100%;
       
        background-size: cover;
    }
    .smallcard{
        min-width:335px;
    }
    .banner1-content h1{
   
        font-size: 3.2em;
     }
    .banner1-content h2{
        
         font-size: 1.7em;
        }

    .featuresrow1 .child{
        width:75%;
    }
} 
